body {
  padding-top: 20px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.jumbotron .img-responsive {
  margin: 0 auto;
}
.pad-top {
  padding-top: 60px;
}
.shipwrecktable tr td:nth-child(2) {
  width: 150px;
}
.shipwrecktable tr:nth-child(1) td {
  border-top: none;
}
/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
[ui-view] {
  height: 65px;
}
.ui-view-container {
  position: relative;
}
[ui-view].ng-enter,
[ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  -moz-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
}
[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(100px, 0, 0);
  -moz-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}
