<div class="container pad-top">
  <table class="table shipwrecktable">
      <tr>
          <td><h3>Details for {{shipwreck.name}}</h3></td>
          <td></td>
      </tr>
      <tr>
          <td>Name</td>
          <td>{{shipwreck.name}}</td>
      </tr>
      <tr>
          <td>Description</td>
          <td>{{shipwreck.description}}</td>
      </tr>
      <tr>
          <td>Wreck Condition</td>
          <td>{{shipwreck.condition}}</td>
      </tr>
      <tr>
          <td>Year Discovered</td>
          <td>{{shipwreck.yearDiscovered}}</td>
      </tr>
      <tr>
          <td>Depth of Wreck</td>
          <td>{{shipwreck.depth}}</td>
      </tr>
      <tr>
          <td>Location</td>
          <td>{{shipwreck.latitude}}, {{shipwreck.longitude}}</td>
      </tr>
  </table>
  <div>
      <a class="btn btn-primary" ui-sref="editShipwreck({id:shipwreck.id})">Edit</a>
  </div>
</div>
